<div class="container-fluid">
    <div class="card" *ngFor="let recipe of recipes">
      <div class="container">
        <div class= "heading"><h1>{{recipe.id}}</h1></div>
        <div class = "edit">
            <ul>
                <li><a href="#">edit</a></li>
                <li><a (click)="delete_recipe(recipe)" href="#">delete</a></li>
              </ul>
        </div>
      </div>
      <p>{{recipe.title}}</p>
      <a href="#" class="comments-btn">Comments</a>
    <div class="comments">
      <ul>
        <li>Nieco</li>
      </ul>
    </div>
    </div>
</div>
